# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
.next/
out/
.cache/

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editors / OS
.vscode/*
!.vscode/README.md
.idea/
.DS_Store
Thumbs.db

# Coverage
coverage/

# Temp
tempCodeRunnerFile.js
tempCodeRunnerFile.ts
